[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
flask = "*"
loguru = "*"
dbutils = "*"
beautifulsoup4 = "*"
flask-apscheduler = "*"
lxml = "*"
requests = "==2.24.0"
urllib3 = "==1.25.11"
flask-cors = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
